@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #CC983F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts */
  --font-body: var(--font-body);
  --font-heading: var(--font-heading);

  /* Brand */
  --primary: #CC983F;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #CC983F;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
  letter-spacing: 0.02em;
}

body {
  font-family: var(--font-body);
}

.pp-calendar .rdp {
  --rdp-cell-size: 40px;
  background: transparent;
}

@tailwind utilities;